<a href="https://colab.research.google.com/github/CarlBayking/LinearAlgebra/blob/main/Assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# WELCOME TO PYTHON FUNDAMETALS
In this module, we are going to establish our skills in Python programming.in this notebook we are going to cover:

*   Variables and Data Types
*   Operations
*   Input and Output Operations
*   Logic Control
*   Iterables
*   Functions

## VARIABLES AND DATA TYPES
Variables are anything that may vary, it is the memory location wherein the user stores its designated value. Data types on the other hand, is the attribute of data which which shows how the the program interpreter plan to use the said data.

In [ ]:
x = 1
a, b = 3, -2

In [ ]:
type(x)

int

In [ ]:
y = 3.0
type(y)

float

In [ ]:
x = float(x)
type(x)

float

In [ ]:
s, t, u = "1", '3', 'three'
type(u)

str

## OPERATIONS

The Operations are, as the name suggests, are methods in how the programming language will simplify the values that are provided by the user. One of the most common usage of operations is when the user will use mathematical equations to solve problems. Colab uses symbols instead of the normal mathematical language used by humans.

### Arithmetic

Aritmetic operation is used to perform mathematical operations in solving the
equations that was inputted in the medium.

In [ ]:
w, x ,y, z = 4.0, -3.0, 2, -32

In [ ]:
### Addition
S = w + x
S

1.0

In [ ]:
### Subtraction
D = y - z
D

34

In [ ]:
### Multiplication
P = w*z
P

-128.0

In [ ]:
### Division
Q = y/x
Q

-0.6666666666666666

In [ ]:
### Floor Division
Qf = w//x
Qf

In [ ]:
### Exponentiation
E = w**w

256.0

In [ ]:
### Modulo
mod = z%x
mod

### Assignment

this are operators used to assign values to its designated variables, 
"=" is one example of an assignment operators.

In [ ]:
A, B, C, D, E = 0, 100, 2, 1, 2

In [ ]:
A += w
A

In [ ]:
B -= x
B

In [ ]:
C *= w
C

In [ ]:
D /= x

In [ ]:
E **= y

### Comparators

Comparators are normally used to take two values/variables and compare them together.

In [ ]:
size_1, size_2, size_3 = 1, 2.0, "1"
true_size = 1.0

In [ ]:
## Equality
size_1 == true_size

In [ ]:
## Non-Equality
size_2 != true_size

True

In [ ]:
## Inequality
s1 = size_1 > size_2
s2 = size_1 < size_2/2
s3 = true_size >= size_1
s4 = size_2 <= true_size

### Logical

A Logical Statement declarative sentence which conveys factual information, which can also be done in Colab as seen below.

In [ ]:
size_1 == true_size

In [ ]:
size_1 is true_size

In [ ]:
size_1 is not true_size

In [ ]:
P, Q = True, False
conj = P and Q

False

In [ ]:
disj = P or Q
disj

In [ ]:
nand = not (P and Q)
nand

True

In [ ]:
xor = (not P and Q) or (P and not Q)
xor

## Input and Output

Input is the process wherein the user 'inputs' a command so the application can show its result. the Output on the other-hand, is the shown 'result' of the input.

In [ ]:
print("HELLO WORLD! How na U")

HELLO WORLD! How na U

In [ ]:
cnt = 14000

In [ ]:
string = "Hello World!"
print(string, ", Current COVID count is:", cnt)
cnt += 10000

Hello World! , Current COVID count is: 14000

In [ ]:
print(f"{string}, current count is: {cnt}")

Hello World!, current count is: 24000

In [ ]:
sem_grade = 86.25
name = "Carl"
print("Hello {}, your Semestral grade is: {}".format(name, sem_grade))

Hello Carl, your Semestral grade is: 86.25

In [ ]:
pg, mg, fg = 0.3, 0.3, 0.4
print("The weights of your Semestral Grade are:\
\n\t {:.2%} for Prelims\
\n\t {:.2%} for Midterms, and\
\n\t {:.2%} for Finals.".format(pg, mg, fg))

The weights of your Semestral Grade are:
	 30.00% for Prelims
	 30.00% for Midterms, and
	 40.00% for Finals.

In [ ]:
e = input("Enter a Number: ")

In [ ]:
name = input("Enter your name: ")
pg = input("Enter Prelim Grade: ")
mg = input("Enter Midterm Grade: ")
fg = input("Enter Finals Grade: ")
sem_grade = None
print("Hello {}, Your Semestral Grade is: {}".format(name, sem_grade))

## Looping Statements

## While

Is a loop wherein it is used to execute a inputted piece of variables/value repeatedly until a given a condition is satisfied.

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i += 1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## For

For Loop is used for repeating over a sequence (which is either a list, tuple, a dictionary, a set, or a string).

In [ ]:
# for(int = 0; 1<10; i++){
#printf(i)
# }

i = 0
for i in range(11):
  print(i)

In [ ]:
playlist = ["Bahay Kubo", "Magandang Kanta", "Kono Dio Da!!"]
print('Now Playing:\n')
for song in playlist:
  print(song)

## Flow Control

Flow control as its name suggest, the flow of order in which the inputted codes
are being executed.

### Condition Statements

This are statements wherein a hypothesis is followed by a conclusion.

In [ ]:
num_1, num_2 = 14, 12
if(num_1 == num_2):
  print("HaHa")
elif(num_1>num_2):
  print("HoHo")
else:
  print("HuHu")

HoHo

## Functions

The Function is a piece of code which can only operate when it is 'run'.
You can pass data, which is also called parameters, into a function.
A function show its output data as a result.

In [ ]:
# void DeleteUser (int userid){
#   delete(userid);
#}

def delete_user (userid):
  print("Successfully deleted user: {}".format(userid))

In [ ]:
userid = 2020_100100
delete_user(2020_100100)

In [ ]:
def add(addend1, addend2):
  sum = addend1 + addend2
  return sum

In [ ]:
add(5, 4)

9